.row:before, .row:after {
	display: table;
	content: " ";
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px; }

.col, .col__1, .col__2, .col__3, .col__4, .col__5, .col__6, .col__7, .col__8, .col__9, .col__10, .col__11, .col__12 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px; }

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%; }

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: none; }

.col__1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%; }

.col__2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%; }

.col__3 {
  flex: 0 0 25%;
  max-width: 25%; }

.col__4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%; }

.col__5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%; }

.col__6 {
  flex: 0 0 50%;
  max-width: 50%; }

.col__7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%; }

.col__8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%; }

.col__9 {
  flex: 0 0 75%;
  max-width: 75%; }

.col__10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%; }

.col__11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%; }

.col__12 {
  flex: 0 0 100%;
  max-width: 100%; }

.order-first {
  order: -1; }

.order-last {
  order: 13; }

.order__1 {
  order: 1; }

.order__2 {
  order: 2; }

.order__3 {
  order: 3; }

.order__4 {
  order: 4; }

.order__5 {
  order: 5; }

.order__6 {
  order: 6; }

.order__7 {
  order: 7; }

.order__8 {
  order: 8; }

.order__9 {
  order: 9; }

.order__10 {
  order: 10; }

.order__11 {
  order: 11; }

.order__12 {
  order: 12; }

.offset__1 {
  margin-left: 8.33333%; }

.offset__2 {
  margin-left: 16.66667%; }

.offset__3 {
  margin-left: 25%; }

.offset__4 {
  margin-left: 33.33333%; }

.offset__5 {
  margin-left: 41.66667%; }

.offset__6 {
  margin-left: 50%; }

.offset__7 {
  margin-left: 58.33333%; }

.offset__8 {
  margin-left: 66.66667%; }

.offset__9 {
  margin-left: 75%; }

.offset__10 {
  margin-left: 83.33333%; }

.offset__11 {
  margin-left: 91.66667%; }

@media (min-width: 576px) {
  .d__sm__flex {
    display: flex !important; }
  .col__sm {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }
  .col__sm__auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none; }
  .col__sm__1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col__sm__2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col__sm__3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col__sm__4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col__sm__5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col__sm__6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col__sm__7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col__sm__8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col__sm__9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col__sm__10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col__sm__11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col__sm__12 {
    flex: 0 0 100%;
    max-width: 100%; }
  .order__sm__1 {
    order: 1; }
  .order__sm__2 {
    order: 2; }
  .order__sm__3 {
    order: 3; }
  .order__sm__4 {
    order: 4; }
  .order__sm__5 {
    order: 5; }
  .order__sm__6 {
    order: 6; }
  .order__sm__7 {
    order: 7; }
  .order__sm__8 {
    order: 8; }
  .order__sm__9 {
    order: 9; }
  .order__sm__10 {
    order: 10; }
  .order__sm__11 {
    order: 11; }
  .order__sm__12 {
    order: 12; }
  .offset__sm__1 {
    margin-left: 8.33333%; }
  .offset__sm__2 {
    margin-left: 16.66667%; }
  .offset__sm__3 {
    margin-left: 25%; }
  .offset__sm__4 {
    margin-left: 33.33333%; }
  .offset__sm__5 {
    margin-left: 41.66667%; }
  .offset__sm__6 {
    margin-left: 50%; }
  .offset__sm__7 {
    margin-left: 58.33333%; }
  .offset__sm__8 {
    margin-left: 66.66667%; }
  .offset__sm__9 {
    margin-left: 75%; }
  .offset__sm__10 {
    margin-left: 83.33333%; }
  .offset__sm__11 {
    margin-left: 91.66667%; } }

@media (min-width: 768px) {
  .d__md__flex {
    display: flex !important; }
  .col__md {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }
  .col__md__auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none; }
  .col__md__1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col__md__2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col__md__3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col__md__4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col__md__5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col__md__6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col__md__7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col__md__8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col__md__9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col__md__10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col__md__11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col__md__12 {
    flex: 0 0 100%;
    max-width: 100%; }
  .order__md__1 {
    order: 1; }
  .order__md__2 {
    order: 2; }
  .order__md__3 {
    order: 3; }
  .order__md__4 {
    order: 4; }
  .order__md__5 {
    order: 5; }
  .order__md__6 {
    order: 6; }
  .order__md__7 {
    order: 7; }
  .order__md__8 {
    order: 8; }
  .order__md__9 {
    order: 9; }
  .order__md__10 {
    order: 10; }
  .order__md__11 {
    order: 11; }
  .order__md__12 {
    order: 12; }
  .offset__md__1 {
    margin-left: 8.33333%; }
  .offset__md__2 {
    margin-left: 16.66667%; }
  .offset__md__3 {
    margin-left: 25%; }
  .offset__md__4 {
    margin-left: 33.33333%; }
  .offset__md__5 {
    margin-left: 41.66667%; }
  .offset__md__6 {
    margin-left: 50%; }
  .offset__md__7 {
    margin-left: 58.33333%; }
  .offset__md__8 {
    margin-left: 66.66667%; }
  .offset__md__9 {
    margin-left: 75%; }
  .offset__md__10 {
    margin-left: 83.33333%; }
  .offset__md__11 {
    margin-left: 91.66667%; } }

@media (min-width: 992px) {
  .d__lg__flex {
    display: flex !important; }
  .col__lg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }
  .col__lg__auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none; }
  .col__lg__1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col__lg__2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col__lg__3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col__lg__4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col__lg__5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col__lg__6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col__lg__7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col__lg__8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col__lg__9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col__lg__10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col__lg__11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col__lg__12 {
    flex: 0 0 100%;
    max-width: 100%; }
  .order__lg__1 {
    order: 1; }
  .order__lg__2 {
    order: 2; }
  .order__lg__3 {
    order: 3; }
  .order__lg__4 {
    order: 4; }
  .order__lg__5 {
    order: 5; }
  .order__lg__6 {
    order: 6; }
  .order__lg__7 {
    order: 7; }
  .order__lg__8 {
    order: 8; }
  .order__lg__9 {
    order: 9; }
  .order__lg__10 {
    order: 10; }
  .order__lg__11 {
    order: 11; }
  .order__lg__12 {
    order: 12; }
  .offset__lg__1 {
    margin-left: 8.33333%; }
  .offset__lg__2 {
    margin-left: 16.66667%; }
  .offset__lg__3 {
    margin-left: 25%; }
  .offset__lg__4 {
    margin-left: 33.33333%; }
  .offset__lg__5 {
    margin-left: 41.66667%; }
  .offset__lg__6 {
    margin-left: 50%; }
  .offset__lg__7 {
    margin-left: 58.33333%; }
  .offset__lg__8 {
    margin-left: 66.66667%; }
  .offset__lg__9 {
    margin-left: 75%; }
  .offset__lg__10 {
    margin-left: 83.33333%; }
  .offset__lg__11 {
    margin-left: 91.66667%; } }

@media (min-width: 1200px) {
  .d__xl__flex {
    display: flex !important; }
  .col__xl {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }
  .col__xl__auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none; }
  .col__xl__1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col__xl__2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col__xl__3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col__xl__4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col__xl__5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col__xl__6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col__xl__7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col__xl__8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col__xl__9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col__xl__10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col__xl__11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col__xl__12 {
    flex: 0 0 100%;
    max-width: 100%; }
  .order__xl__1 {
    order: 1; }
  .order__xl__2 {
    order: 2; }
  .order__xl__3 {
    order: 3; }
  .order__xl__4 {
    order: 4; }
  .order__xl__5 {
    order: 5; }
  .order__xl__6 {
    order: 6; }
  .order__xl__7 {
    order: 7; }
  .order__xl__8 {
    order: 8; }
  .order__xl__9 {
    order: 9; }
  .order__xl__10 {
    order: 10; }
  .order__xl__11 {
    order: 11; }
  .order__xl__12 {
    order: 12; }
  .offset__xl__1 {
    margin-left: 8.33333%; }
  .offset__xl__2 {
    margin-left: 16.66667%; }
  .offset__xl__3 {
    margin-left: 25%; }
  .offset__xl__4 {
    margin-left: 33.33333%; }
  .offset__xl__5 {
    margin-left: 41.66667%; }
  .offset__xl__6 {
    margin-left: 50%; }
  .offset__xl__7 {
    margin-left: 58.33333%; }
  .offset__xl__8 {
    margin-left: 66.66667%; }
  .offset__xl__9 {
    margin-left: 75%; }
  .offset__xl__10 {
    margin-left: 83.33333%; }
  .offset__xl__11 {
    margin-left: 91.66667%; } }

@media (min-width: 576px) {
  .col, .col__sm__1, .col__sm__2, .col__sm__3, .col__sm__4, .col__sm__5, .col__sm__6, .col__sm__7, .col__sm__8, .col__sm__9, .col__sm__10, .col__sm__11, .col__sm__12 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px; } }

@media (min-width: 768px) {
  .col, .col__md__1, .col__md__2, .col__md__3, .col__md__4, .col__md__5, .col__md__6, .col__md__7, .col__md__8, .col__md__9, .col__md__10, .col__md__11, .col__md__12 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px; } }

@media (min-width: 992px) {
  .col, .col__lg__1, .col__lg__2, .col__lg__3, .col__lg__4, .col__lg__5, .col__lg__6, .col__lg__7, .col__lg__8, .col__lg__9, .col__lg__10, .col__lg__11, .col__lg__12 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px; } }

@media (min-width: 1200px) {
  .col, .col__xl__1, .col__xl__2, .col__xl__3, .col__xl__4, .col__xl__5, .col__xl__6, .col__xl__7, .col__xl__8, .col__xl__9, .col__xl__10, .col__xl__11, .col__xl__12 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px; } }